{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music On Emotion</title>
    <link rel="stylesheet" href="{% static 'CSS/Home.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
    <link rel="stylesheet" href="{% static 'player.css' %}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="{% static 'JS/Home.js' %}"></script>
</head>

<body>
    <!-- COMMON IN ALL PAGES -->
    <nav id="navbar">
        <ul id="navbarul">
            <li>
                <h1 class="logohead"> <i class="fa fa-music" aria-hidden="true"></i> <span class="logoheadcol">Emusic
                </h1>
            </li>
          
            <li><form method="POST" action="search">
                {% csrf_token %}
                <li><input type="text" name="search" placeholder=" &emsp; Search Your Song...."></li>
            <li><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></li></form></li>
       
        </ul>
        <!-- CAMERA -->
        <div class="camera">
            <a href="Capture"><i class="fa fa-camera" aria-hidden="true"></i></a>
        </div>
    </nav>

    <!-- OPTION SLIDEBAR -->
    <div id="opt01">
        <!-- 01 HAMBURGER -->
        <div id="menubar01">
            <div id="menu01" onclick="onClickMenu01()">
                <span id="bar001" class="bar01"></span>
                <span id="bar002" class="bar01"></span>
                <span id="bar003" class="bar01"></span>
            </div>
        </div>
        <div id="menubarbg01"></div>

        <div class="option" id="option01">
            <ul>
                <a href="/">
                    <li class="active line"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</li>
                </a>
                <a href="Profile">
                    <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Profile</li>
                </a>
                <a href="RecentlyPlayed">
                    <li><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Recently Played</li>
                </a>
                <a href="Playlist">
                    <li><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Playlists</li>
                </a>
                <a href="Favourite">
                    <li class="line"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;Favourite</li>
                </a>
                <a href="#">
                    <li class="line"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Setting</li>
                </a>
                <a href="#">
                    <li><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;Feedback</li>
                </a>
                <a href="#">
                    <li><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;About Us</li>
                </a>
                <a href="#">
                    <li class="line"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Policy & Privacy</li>
                </a>
                <br>
                <h4>&emsp;Copyright @ </h4>
            </ul>
        </div>
    </div>






    

    <!-- HOME PAGE WORK -->
    <div class="Songs">
        <div class="topnew">
            <div class="topnewtitle">
                <h2>TOP NEW SONGS</h2>
            </div>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for song in songs %}
                    <div class="swiper-slide">
                        <a href="{% url 'play' id=song.id %}">
                            <div class="topnewimg"><img src="{{song.image.url}}" alt=""></div>
                            <div class="topnewname">
                                <h2>{{song.title}}</h2><br>
                                <h3>{{song.artist}}</h3>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>

    <!-- HAPPY HAPPY SONGS -->



    <!-- PLAYBAR BOTTOM OF PAGE -->
    <div class="main1">

        <!--- left part --->
        <div class="left">

            <!--- song title & artist name --->
            <div class="song_detail">
                <p id="title">Song Name</p>
                <p id="artist">Artist Name</p>
            </div>

            <!--- song img --->
            <img id="track_image" >
            <div class="volume">
                <p id="volume_show">90</p>
                <i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>
                <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">
            </div>

        </div>

        <!--- right part --->
        <div class="right">

            <!--- song duration part --->
            <div class="duration">
                <button id="auto" onclick="autoplay_switch()">Auto &nbsp;<i class="fa fa-circle-o-notch"
                        aria-hidden="true"></i></button>
                <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">

            </div>

            <!--- middle part --->
            <div class="middle1">
                <button onclick="previous_song()" id="pre"><i class="fa fa-step-backward"aria-hidden="true"></i></button>
                <button onclick="justplay()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
                <button onclick="next_song()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
            </div>

        </div>



    </div>

    <script src="{% static 'player.js' %}"></script>

    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            spaceBetween: 25,
            freeMode: true,

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });


    </script>
    
    <script src="{% static 'JS/Common.js' %}"></script>
</body>

</html>